/*

Waterflow Design Principles

* One element per view
* As intuitive as possible for the user
* Fluid movements between navigation
* Simple is always best
* Screen size does matter
(* Is water style in color and elements)

*/

/* Global available variables */
:root {
  --water-color: hsl(198, 71%, 42%);
  --underwater-color: #40c3b4;
  --water-font-family: 'Roboto', sans-serif;
}

/* Direct html element changes */
html,
body {
  font-family: var(--water-font-family);
}

input,
textarea{
  font-family: var(--water-font-family);
}

/* Ensures that this content is fully shown in a responsive design */
img,
picture,
video {
  max-width: 100%;
}

/*
 Adjust videos to mobile first design. The reason for using vw for
 both values is to keep the aspect ratio regardless of a shift in
 size.
*/
video{
  width: 78vw;
  height: 40vw;
}

/* CSS class level changes */

/* Default setting for all navigation slides to fit water style UX */
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view {
  background-color: rgba(128, 128, 128, 0.5);
  margin: 20px;
  display: flex;
  justify-content: center;
  height: 350px;
  width: 650px;
}

.selector {
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
}


