<div class="spinner-background">
  <div *ngIf="showLoading" class="spinner-container">
    <mat-progress-spinner
      class="spinner bounce1"
      [color]="'primary'"
      [mode]="'determinate'"
      [value]="50">
    </mat-progress-spinner>
    <mat-progress-spinner
      class="spinner bounce2"
      [color]="'primary'"
      [mode]="'determinate'"
      [value]="50">
    </mat-progress-spinner>
    <mat-progress-spinner
      class="spinner bounce3"
      [color]="'primary'"
      [mode]="'determinate'"
      [value]="50">
    </mat-progress-spinner>
  </div>
</div>


