<div class="swiper newSwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">Wie kannst du Riversurfen lernen?</div>
    <div class="swiper-slide">Welche Services möchtest du buchen?</div>
    <div class="swiper-slide">Von wem wirst du mit Spaß unterstützt?</div>
    <div class="swiper-slide">Welche Riverwaves gibt's in Deutschland?</div>
    <div class="swiper-slide">Wie meldest du dich bei mir?</div>
    <div class="swiper-slide">Wem gehört die Website hier?</div>
<!--    <div class="swiper-slide">Slide 7</div>-->
<!--    <div class="swiper-slide">Slide 8</div>-->
<!--    <div class="swiper-slide">Slide 9</div>-->
  </div>
</div>
