<div class="swiper newSwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <p>Wie kannst du Riversurfen lernen?</p>
      <br>
      <video width="320" height="240" autoplay muted>
        <source src="../../assets/New_Kid_Scene_DaniRojas_Entrance_Football_Skills.webm" type="video/webm">
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="swiper-slide">Welche Services möchtest du buchen?</div>
    <div class="swiper-slide">Von wem wirst du mit Spaß unterstützt?</div>
    <div class="swiper-slide">Welche Riverwaves gibt's in Deutschland?</div>
    <div class="swiper-slide">Wie meldest du dich bei mir?</div>
    <div class="swiper-slide">Wem gehört die Website hier?</div>
    <!--    <div class="swiper-slide">Slide 7</div>-->
    <!--    <div class="swiper-slide">Slide 8</div>-->
    <!--    <div class="swiper-slide">Slide 9</div>-->
  </div>
</div>
