/*

Waterflow Design Principles

* One element per view
* As intuitive as possible for the user
* Fluid movements between navigation
* Simple is always best
* Screen size does matter
(* Is water style in color and elements)

*/

/* Global available variables */
:root {
  --water-color: hsl(198, 71%, 42%);
  --underwater-color: #40c3b4;
  --water-font-family: Montserrat;
}

/* Direct html element changes */
html,
body {
  font-family: var(--water-font-family);
}

input,
textarea{
  font-family: var(--water-font-family);
}

/* Ensures that this content is fully shown in a responsive design */
img,
picture,
video {
  max-width: 100%;
}

/*
 Adjust videos to mobile first design. The reason for using vw for
 both values is to keep the aspect ratio regardless of a shift in
 size.
*/
video{
  width: 78vw;
  height: 40vw;
}

/* CSS class level changes */

/* Default setting for all navigation slides to fit water style UX */
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
  gap: 10px;

  /* Needed for the water bubbles to stay underwater */
  overflow: hidden;
  position: relative;

  padding-top: 5vh;
}


