/*

Waterflow Design Principles

* One element per view
* As intuitive as possible for the user
* Fluid movements between navigation
* Simple is always best
* Screen size does matter
(* Is water style in color and elements)

*/

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--water-font-family);
}

input,
textarea{
  font-family: var(--water-font-family);
}

/* Default setting for all navigation slides to fit water style UX */
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
  gap: 10px;

  /* Needed for the water bubbles to stay underwater */
  overflow: hidden;
  position: relative;

  padding-top: 5vh;
}

:root {
  --water-color: hsl(198, 71%, 42%);
  --underwater-color: #40c3b4;
  --water-font-family: Montserrat;
}

/* Ensures that this content is fully shown in a responsive design */
img,
picture,
video {
  max-width: 100%;
}

/* Adjust videos to mobile first design */
video{
  width: 78vw;
  /* height: 75vh; Let the video decide upon the width */
}
