html,
body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

/* Default setting for all navigation slides to fit water style UX */
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
  gap: 10px;

  /* Needed for the water bubbles to stay underwater */
  overflow: hidden;
  position: relative;

  padding-top: 5vh;
}

:root {
  --water-color: hsl(198, 71%, 42%);
  --underwater-color: #40c3b4;
}

/* Ensures that this content is fully shown in a responsive design */
img,
picture,
video {
  max-width: 100%;
}

/* Adjust videos to mobile first design */
video{
  width: 78vw;
  /* height: 75vh; Let the video decide upon the width */
}
